body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    margin: 0 auto;
    padding: 20px;
    min-width: fit-content;
    max-width: fit-content;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.event img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    max-width: 100px;
    height: auto;
}

.description-toggle {
    cursor: pointer;
    color: blue;
}

.description-toggle:hover {
    color: darkblue;
}

.description {
    max-width: 250px;
}

.add-event-button {
    display: inline-block;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.add-event-button:hover {
    background-color: #0056b3;
}

#myInput {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: white;
    background-image: url('https://cdn4.iconfinder.com/data/icons/pictype-free-vector-icons/16/search-512.png');
    background-size: 20px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
    transition: width 0.4s ease-in-out;
}

#noDataMessage {
    display: none;
    color: red;
    font-style: italic;
    margin-bottom: 10px;
}

img.event,
img.student-pic {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}
