body {
    width: 100%;
    height: 900px;
    margin: auto;
    background-image: url("../pic/bt.jpg");
    background-size: cover;
    background-position: center;
}

.events {
    padding-top: 130px;

}

.box {
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(8px);
    border-radius: 8px;
}

.event_details {
    padding: 20px;
}

.booking-form button {
    background-color: #007bff;
    margin: 5px auto;
    width: 320px;
    color: white;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: background-color 0.3s;
}

.box input[type="number"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
