footer {
    background-color: black;
    color: white;
    width: 100%;
}

footer .section_container {
    display: grid;
    gap: 24px;
    text-align: center;
}

.section_container {
    padding: 80px 16px;
    max-width: var(--max-width);
    margin: auto;
  }

footer h4 {
    font-size: 24px;
    font-weight: 500;
}

.social_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.social_icon i {
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    color: white;
    list-style: none;
}

footer p {
    font-style: italic;
}