@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

:root {
  --primary-color: #669ccb;
  --primary-color-dark: #5681a7;
  --secondary-color: #e8f1fa;
  --text-dark: #282d31;
  --text-light: #767268;
  --extra-light: #f3f4f6;
  --max-width: 1200px;
}

.section_container {
  padding: 80px 16px;
  max-width: var(--max-width);
  margin: auto;
}

.section_title {
  font-size: 40px;
  font-weight: 500;
  color: var(--primary-color);
  margin-bottom: 16px;
  text-align: center;
}

.section_subtitle {
  font-size: 30px;
  font-style: italic;
  color: var(--primary-color);
  margin-bottom: 80px;
  text-align: center;
}

header {
  height: 100vh;
  background-image: linear-gradient(rgba(45, 92, 132, 0.5),
      rgba(45, 92, 132, 0.5)),
    url("../pic/theatreBg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

header .section_container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  color: var(--extra-light);
}

.header_content h1 {
  font-size: 100px;
  font-weight: 400;
  line-height: 100px;
}

.header_content p {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
}

.header_content button {
  padding: 16px 32px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--extra-light);
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.header_content button a {
  color: var(--extra-light);
  text-decoration: none;
}

.header_content button:hover {
  background-color: var(--primary-color-dark);
}

.box {
  padding: 120px 0 0 0;
  background-color: #669ccb;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
}

.box h2 {
  padding-bottom: 20px;
}

.box h3 {
  padding-bottom: 80px;
}

.events-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.event-item {
  min-height: 300px;
  min-width: 340px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: whitesmoke;
  padding: 10px;
  width: 300px;
  font-size: 20px;
}

.event-item:hover {
  transform: scale(1.05);
}

.event-item img {
  width: 100%;
  height: 300px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}

.event-item h2 {
  color: #007BFF;
  font-size: 25px;
}

.event-item strong {
  color: #555;
  display: block;
  margin-top: 5px;
  font-size: 20px;
}

.event-item .price {
  font-size: 12px;
  font-weight: bold;
  color: #28a745;
}


.about_container{
  background-image: linear-gradient(rgba(35,71,103,0.5), rgba(35,71,103, 0.5)),
  url("../pic/why_us.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about_container .section_container {
  padding: 160px 16px;
  display: flex;
  justify-content: center;
}

.about_content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  text-align: center;
  color: var(--extra-light);
}

.about_content h2{
  font-size: 60px;
  font-weight: 600;
}

.about_content p{
  font-size: 20px;
  font-weight: 300;
}

.about_content button {
  padding: 8px 32px;
  outline: none;
  border: 2px solid var(--secondary-color);
  background-color: transparent;
  color: var(--secondary-color);
  font-size: 16px;
  cursor: pointer;
}

.about_content button a {
  text-decoration: none;
  color: var(--extra-light);
}

@media (min-width: 640px) {

  header .section_container {
    justify-content: flex-start;

  }

  .header_content {
    max-width: 400px;
    align-items: flex-start;
  }

  .header_content p {
    text-align: left;
  }

  .event_box {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
}

@media (min-width: 790px){
  .about_container .section_container {
    justify-content: flex-end;
  }

  .about_content{
    align-items: flex-end;
    text-align: right;
    max-width: 800px;
  }



}