body {
    background-image: url("../pic/bt.jpg");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 100px;
    margin: 0 auto;
    align-items: center;
}

.ticket_details {
    margin: 30px 10px;
    height: 500px;
    width: auto;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

.ticket_details img {
    width: 300px;
    height: auto;
}

.ticket_details:hover {
    transform: scale(1.05);
}

.btn a {
    margin: 20px;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn a:hover {
    background-color: #0056b3;
}

.btn a:active {
    background-color: #004094;
}
