body {
    background-image: url("../pic/bt.jpg");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

.container {
    padding-top: 130px;
}

.box{
    background-color: #ffffff;
    margin: 20px auto;
    width: 70%;
    max-width: 600px;
    height: 500px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    padding: 20px;
    border-radius: 10px;
    list-style: none;
}

.box label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.box input[type="text"],
.box input[type="number"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.box input[type="text"]:focus,
.box input[type="number"]:focus {
    border-color: #6658d3;
    outline: none;
}

.box button,
.container a {
    background-color: #007bff;
    margin: 5px auto;
    width: 320px;
    color: white;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: background-color 0.3s;
}

.box button:hover,
.container a:hover {
    background-color: #0056b3;
}

.box button:active,
.container a:active {
    background-color: #004094;
}

@media screen and (max-width: 768px) {
    .user_info ul {
        width: 90%;
    }
}
